<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ importmap('app') }}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: #1a2f23;">
            <div class="container">
                <a class="navbar-brand fw-bold" href="/home">
                    <i class="bi bi-eye-fill me-2"></i>RESERVA FELINA JAÉN
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto font-weight-bold">
                        <li class="nav-item"><a class="nav-link px-3 text-white" href="{{ path('app_home') }}">La Reserva</a></li>
                        <li class="nav-item"><a class="nav-link px-3 text-white" href="{{ path('app_felinos') }}">Especies</a></li>
                        <li class="nav-item"><a class="nav-link px-3 text-white" href="{{ path('app_horarios') }}">Horarios</a></li>
                        <li class="nav-item"><a class="nav-link px-3 text-white" href="{{ path('app_donacion') }}">Donaciones</a></li>
                        <li class="nav-item ms-lg-3">
                            <a class="btn btn-warning fw-bold px-4" href="{{ path('app_entradas') }}">Comprar Entradas</a>
                        </li>
                        <li class="nav-item d-flex align-items-center rounded-2 m-2" >
                            {% if app.user %}
                                <p class=" text-white font-weight-bold p-2">{{ app.user.username }}</p>
                                <a class="btn btn-outline-light btn-sm" href="{{ path('logout') }}">Logout</a>
                            {% else %}
                                <a class="btn btn-primary btn-sm" href="{{ path('login') }}">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
{% endblock %}

<main class="flex-fill">
    {% block body %}{% endblock %}
</main>


{% block footer %}
    <footer class="mt-auto text-light py-4" style="background-color: #1a2f23;">
        <div class="row">
            <div class="col-4 text-start">
                <ul>
                    <li style="list-style: none;"><i class="bi bi-instagram"> <strong>Instagram</strong> @FelinaSafariReserve</i></li>
                    <li style="list-style: none;"><i class="bi bi-facebook"> <strong>Facebook</strong> @FelinaSafariReserve</i></li>
                    <li style="list-style: none;"><i class="bi bi-twitter"> <strong>Twitter</strong> @FelinaSafariReserve</i></li>
                </ul>

            </div>
            <div class="col-4 text-center ">
                <ul>
                    <li style="list-style: none;"><a href="">Aviso Legal</a></li>
                    <li style="list-style: none;"><a href="">Terminos de Condicion</a></li>
                    <li style="list-style: none;"><a href="">Licencia</a></li>
                    <li style="list-style: none;">
                        <div class="container text-center">
                            <p class="mb-1"><strong>Reserva de Felinos Jaén</strong> - El paraíso de los grandes gatos.</p>
                            <p class="small text-white-50">© {{ "now"|date("Y") }} Todos los derechos reservados.</p>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-4 text-end pr-2">
                <ul class="">
                    <li style="list-style: none;"><strong>Telefono</strong> +34 654654654<i class="bi bi-telephone-fill"></i></li>
                    <li style="list-style: none;"><strong>Correo</strong> FelinaSafari@jaen.com<i class="bi bi-envelope-fill"></i></li>
                    <li style="list-style: none;"><strong>Ubicacion</strong> A-4, Despeñaperros, Jaén<i class="bi bi-geo-alt-fill"></i></li>
                </ul>
            </div>
        </div>
    </footer>

{% endblock %}
</body>


</html>


